[Unit]
Description=Keyboard switch

[Service]
ExecStart=/bin/bash -c "/home/ghost/personal/dotfiles/scripts/toggleKeyboard.sh on keyboard"
ExecStop=/bin/bash -c "/home/ghost/personal/dotfiles/scripts/toggleKeyboard.sh off keyboard"
;Restart=never
